/* Layout general */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* NAVBAR ARRIBA */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 10px 20px;
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}

/* LINKS EN FILA */
.navbar nav {
  display: flex;
  gap: 15px;
}

/* LINKS */
.navbar nav a {
  padding: 10px 15px;
  border-radius: 8px;

  text-decoration: none;
  color: rgb(15, 28, 52);
  font-weight: 500;

  transition: all 0.25s ease;
}

/* HOVER */
.navbar nav a:hover {
  background: rgba(254, 109, 3, 0.1);
  color: rgb(254, 109, 3);
}

/* ACTIVO */
.active {
  background: rgb(254, 109, 3);
  color: white !important;
}

/* CONTENIDO */
.content {
  flex: 1;
  padding: 25px;
  background: #f8fafc;
}