<div class="caja-container">

<h2>
  Movimientos de 
  <span class="nombre">{{ inquilinoNombre }}</span>
</h2>

<p class="subtitulo">
  Historial de movimientos financieros
</p>
<div class="summary-cards">

  <div class="summary-card ingresos">
    <div class="card-icon">💰</div>

    <div>
      <span>Total Ingresos</span>
      <h3>S/ {{ totalIngresos | number:'1.2-2' }}</h3>
    </div>
  </div>

  <div class="summary-card gastos">
    <div class="card-icon">💸</div>

    <div>
      <span>Total Gastos</span>
      <h3>S/ {{ totalGastos | number:'1.2-2' }}</h3>
    </div>
  </div>

  <div
    class="summary-card balance"
    [class.balance-positivo]="balance >= 0"
    [class.balance-negativo]="balance < 0">

    <div class="card-icon">
      {{ balance >= 0 ? '📈' : '📉' }}
    </div>

    <div>
      <span>
        {{ balance >= 0 ? 'Ganancia' : 'Pérdida' }}
      </span>

      <h3>
        S/ {{ balance | number:'1.2-2' }}
      </h3>
    </div>

  </div>

</div>

<div class="grafico-container" *ngIf="chartOptions">
  <h3 class="grafico-title">
    Distribución Financiera
  </h3>

  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels!"
    [responsive]="chartOptions.responsive!">
  </apx-chart>

</div>


  <table class="tabla-movimientos">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Categoría</th>
        <th>Inmueble</th>
        <th>Unidad</th>
        <th>Descripción</th>
        <th>Monto</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let m of movimientos">
        <td>{{ m.fecha }}</td>
        <td>
          <span class="badge" [ngClass]="m.tipo === 'INGRESO' ? 'ingreso-badge' : 'gasto-badge'">
            {{ m.tipo }}
          </span>
        </td>
        <td>{{ m.categoria }}</td>
        <td>{{ m.inmueble }}</td>
        <td>{{ m.unidad }}</td>
        <td class="descripcion">{{ m.descripcion }}</td>
        <td [ngClass]="m.tipo === 'INGRESO' ? 'ingreso' : 'gasto'">
          S/ {{ m.monto }}
        </td>
      </tr>
    </tbody>
  </table>
<button (click)="descargarPdf()">
  <i class="fas fa-file-pdf"></i>
  Descargar PDF
</button>

</div>